################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Matilda/FileContentIndex/3142bb96-af2b-4f70-9c75-42d9e21eac56.vsidx
/.vs/Matilda/FileContentIndex/3f35a25a-f7c2-45e0-836e-d930ae77eb80.vsidx
/.vs/Matilda/FileContentIndex/4f7571fd-cfa9-4d94-9986-17422c729601.vsidx
/.vs/Matilda/FileContentIndex/6ed72709-ea4e-471e-b13b-151b48a365dd.vsidx
/.vs/Matilda/FileContentIndex/b1ed4591-0f7b-476a-9673-51e33fc6830e.vsidx
/.vs/Matilda/FileContentIndex/cab50440-44ba-4578-9295-854212110ddf.vsidx
/.vs/Matilda/FileContentIndex/cb1182c0-8020-492e-9075-3ec608c069aa.vsidx
/.vs/Matilda/v17/.suo
/.vs/Matilda/FileContentIndex/3cb8c6d4-41e3-46f0-bbf3-5483be654874.vsidx
/.vs/Matilda/FileContentIndex/40c9ab66-f42e-4fff-b563-e1e30c440de5.vsidx
